@use '~@/assets/scss/function' as *;
@use '~@stylize/sass-func/css/font' as * with (
  $base-font: 'Stolzl'
);

// Color schema
$color-0: #ffffff;
$color-0_08: rgba($color-0, 0.08);
$color-0_1: rgba($color-0, 0.1);
$color-0_2: rgba($color-0, 0.24);
$color-0_5: rgba($color-0, 0.54);
$color-0_7: rgba($color-0, 0.7);
$color-0_9: rgba($color-0, 0.9);
$color-10: #000000;
$color-10_2: rgba($color-10, 0.24);
$color-10_5: rgba($color-10, 0.54);
$color-10_7: rgba($color-10, 0.7);
$color-11: #111418;
$color-11_5: rgba($color-11, 0.54);
$color-11_7: rgba($color-11, 0.7);
$color-13: #15191f;
$color-13_2: rgba($color-13, 0.24);
$color-15: #1b1f24;
$color-16: #20252c;
$color-16_2: rgba($color-16, 0.24);
$color-16_5: rgba($color-16, 0.54);
$color-16_7: rgba($color-16, 0.7);
$color-16_9: rgba($color-16, 0.9);
$color-17: #2f3236;
$color-17_2: rgba($color-17, 0.24);
$color-17_5: rgba($color-17, 0.54);
$color-17_9: rgba($color-17, 0.9);
$color-18: #424242;
$color-18_5: rgba($color-18, 0.54);
$color-18_7: rgba($color-18, 0.7);
$color-18_2: rgba($color-18, 0.24);
$color-19: #56595f;
$color-21: #ffb82f;
$color-21_08: rgba($color-21, 0.08);
$color-23: #ffce44;
$color-23_1: rgba($color-23, 0.1);
$color-23_2: rgba($color-23, 0.24);
$color-23_5: rgba($color-23, 0.54);
$color-25: #ffd55d;
$color-25_2: rgba($color-25, 0.24);
$color-27: #ffea60;
$color-32: #ff6e40;
$color-32_5: rgba($color-32, 0.54);
$color-35: #ff9d88;
$color-45: #38414e;
$color-45_5: rgba($color-45, 0.54);
$color-51: #616161;
$color-55: #a3a3a3;

// New colors
$n_color-0: #ffffff;
$n_color-0_2: rgba($n_color-0, 0.24);
$n_color-0_4: rgba($n_color-0, 0.4);
$n_color-0_7: rgba($n_color-0, 0.7);
$n_color-0_8: rgba($n_color-0, 0.8);
$n_color-5: #000000;
$n_color-5_7: rgba($n_color-5, 0.7);
$n_color-8: #282722;
$n_color-10: #101010;
$n_color-11: #181818;
$n_color-13: #2b2b2b;
$n_color-13_5: rgba($n_color-13, 0.54);
$n_color-13_7: rgba($n_color-13, 0.7);
$n_color-15: #414141;
$n_color-17: #4c4c4c;
$n_color-18: #565656;
$n_color-18_2: rgba($n_color-18, 0.16);
$n_color-19: #616161;
$n_color-20: #8d8d8d;
$n_color-22: #a3a3a3;
$n_color-24: #d4d4d4;
$n_color-30: #ffce44;
$n_color-30_1: rgba($n_color-30, 0.08);
$n_color-30_2: rgba($n_color-30, 0.16);
$n_color-30_5: rgba($n_color-30, 0.54);
$n_color-30_7: rgba($n_color-30, 0.7);
$n_color-32: #ffd55d;
$n_color-34: #ffea60;
$n_color-36: #fef0c5;
$n_color-40: #ff7144;
$n_color-42: #a78834;

// Font schema
$font-family: 'Stolzl', sans-serif;
$font--xl: 1rem; // ~16px
$font--lg: 0.875rem; // ~14px
$font--md: 0.75rem; // ~12px
$font--sm: 0.625rem; // ~10px
$font--xs: 0.5rem; // ~8px

// Indent schema
$indent-xs: 8px;
$indent-sm: 16px;
$indent-md: 24px;
$indent-lg: 32px;
$indent-xl: 40px;
$indent-xxl: 48px;

// Property: Default
$border-radius-xs: 4px;
$border-radius-md: 8px;
$border-circle: 50%;

// General: App
$icon-size--xs: 12px;
$icon-size--sm: 16px;
$icon-size--md: 24px;
$icon-size--lg: 36px;

// Layout: App
$app__max-width: 1374px;//1184px;
$app__color: $n_color-0_8;
$app__background: $n_color-11;
$app-header-height: 88px;
$app-header-height--r10: 56px;
$app-content__width: 100vw;
$app-content__width--r10: calc(#{$app__max-width} - 400px);
$app-content__padding: 0 0 0 indent(1);

// Layout: Error
$error__color: $n_color-0;
$error__padding:  indent(2);
$error__background:  url("~@/assets/images/error/error.svg") top left no-repeat;
$error__background-position: 0px -28px;
$error__background-position--r10: 0px -130px;
$error__height: 100vh;
$error-link__color: $n_color-30;
$error-link__color--hover: $n_color-34;
$error-status__font: font(4rem, 1, 400);

// Component: Form
$form-control__font: font($font--lg);
$form-control__color: $color-0;
$form-control__height: 40px;
$form-control__height--xs: 32px;
$form-control__height--lg: 48px;

// Base: Button
$base-button__padding: 0 indent(2.5);
$base-button__font--xs: font($font--md);
$base-button__font--sm: font($font--md);
$base-button__font--lg: font($font--lg);
$base-button__min-height--xs: $form-control__height--xs;
$base-button__min-height--sm: $form-control__height;
$base-button__min-height--lg: $form-control__height--lg;
$base-button__border-radius--xs: $border-radius-xs;
$base-button__border-radius--sm: $border-radius-xs;
$base-button__border-radius--lg: $border-radius-md;
$base-button-primary__color: $n_color-13;
$base-button-primary__color--active: $n_color-17;
$base-button-primary__color--disabled: $n_color-19;
$base-button-primary__border: 1px solid $n_color-30;
$base-button-primary__border--hover: 1px solid $n_color-32;
$base-button-primary__border--active: 1px solid $n_color-34;
$base-button-primary__border--disabled: 1px solid $n_color-22;
$base-button-primary__shadow--hover: 0px 0 8px $n_color-32;
$base-button-primary__shadow--active: 0px 0 8px $n_color-34;
$base-button-primary__shadow--disabled: none;
$base-button-primary__background: $n_color-30;
$base-button-primary__background--hover: $n_color-32;
$base-button-primary__background--active: $n_color-34;
$base-button-primary__background--disabled: $n_color-22;
$base-button-secondary__color: $n_color-30;
$base-button-secondary__color--hover: $n_color-32;
$base-button-secondary__color--active: $n_color-34;
$base-button-secondary__color--disabled: $n_color-22;
$base-button-secondary__border: 1px solid $n_color-30;
$base-button-secondary__border--hover: 1px solid $n_color-32;
$base-button-secondary__border--active: 1px solid $n_color-34;
$base-button-secondary__border--disabled: 1px solid $n_color-22;
$base-button-secondary__background: $n_color-30_1;
$base-button-secondary__background--hover: $n_color-30_2;
$base-button-secondary__background--active: transparent;
$base-button-secondary__background--disabled: transparent;
$base-button-inline__color: $n_color-30;
$base-button-inline__color--active: $n_color-34;
$base-button-inline__color--disabled: $n_color-22;
$base-button-inline__text-shadow--hover: 0px 0 8px $n_color-30;
$base-button-inline__text-shadow--active: 0px 0 8px $n_color-34;

// Base: Block
$base-block__background: $n_color-18_2;
$base-block__box-shadow: 0 0 12px 1px $n_color-5_7;
// prettier-ignore
$base-block__clip--sm--2: polygon(0 0, calc(100% - 6px) 0, calc(100% + 10px) 16px, calc(100% + 10px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--md--2: polygon(0 0, calc(100% - 14px) 0, calc(100% + 10px) 24px, calc(100% + 10px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--lg--2: polygon(0 0, calc(100% - 21px) 0, calc(100% + 10px) 31px, calc(100% + 10px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--sm--3: polygon(0 0, calc(100% + 10px) 0, calc(100% + 10px) calc(100% - 17px), calc(100% - 17px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--md--3: polygon(0 0, calc(100% + 10px) 0, calc(100% + 10px) calc(100% - 24px), calc(100% - 24px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--lg--3: polygon(0 0, calc(100% + 10px) 0, calc(100% + 10px) calc(100% - 31px), calc(100% - 31px) calc(100% + 10px), 0 calc(100% + 10px));
// prettier-ignore
$base-block__clip--sm--4: polygon(0 0, calc(100% + 10px) 0, calc(100% + 10px) calc(100% + 10px), 16px calc(100% + 10px), 0px calc(100% - 7px));
// prettier-ignore
$base-block__clip--md--4: polygon(0 0, calc(100% + 14px) 0, calc(100% + 10px) calc(100% + 10px), 24px calc(100% + 10px), 0 calc(100% - 14px));
// prettier-ignore
$base-block__clip--lg--4: polygon(0 0, calc(100% + 14px) 0, calc(100% + 10px) calc(100% + 10px), 24px calc(100% + 2px), 0 calc(100% - 22px));
// prettier-ignore
$base-block__clip--sm--2-4: polygon(0 0, calc(100% - 6px) 0, calc(100% + 17px) 24px, calc(100% + 10px) calc(100% + 10px), 24px calc(100% + 17px), 0 calc(100% - 6px));
// prettier-ignore
$base-block__clip--md--2-4: polygon(0 0, calc(100% - 14px) 0, calc(100% + 10px) 24px, calc(100% + 10px) calc(100% + 10px), 24px calc(100% + 10px), 0 calc(100% - 14px));
// prettier-ignore
$base-block__clip--lg--2-4: polygon(0 0, calc(100% - 21px) 0, calc(100% + 3px) 24px, calc(100% + 10px) calc(100% + 10px), 24px calc(100% + 3px), 0 calc(100% - 22px));
$base-block-primary__color: $n_color-30;
$base-block-primary__border: 1px solid $n_color-30;
$base-block-primary__box-shadow: inset 0 0 6px 0 $n_color-30_7;
$base-block-primary__filter: drop-shadow(6px 4px 6px $n_color-5_7);
$base-block-primary__border-color--2: transparent $n_color-30 transparent transparent;
$base-block-primary__border-color--3: transparent transparent $n_color-30 transparent;
$base-block-primary__border-color--4: transparent transparent transparent $n_color-30;
$base-block-secondary__color: $n_color-17;
$base-block-secondary__border: 1px solid $n_color-17;
$base-block-secondary__border-color--2: transparent $n_color-17 transparent transparent;
$base-block-secondary__border-color--3: transparent transparent $n_color-17 transparent;
$base-block-secondary__border-color--4: transparent transparent transparent $n_color-17;

// Base: Close
$base-close__size: $icon-size--sm;
$base-close__padding: indent(1);
$base-close__color: $n_color-13;
$base-close__background: $n_color-30;
$base-close__background--hover: $n_color-32;
$base-close__box-shadow--hover: 0 0 5px 1px $n_color-32;

// Base: Input
$input_v2__border-color--error: $color-32;
$input_v2-label__font: font($font--sm, 16px, 100);
$input_v2-label__color: $color-0_7;
$input_v2-label__color--error: $color-32;
$input_v2-label__padding: 0 0 4px 6px;
$input_v2-label__padding--border: 0 0 0 6px;
$input_v2-label__position: -7px, 0, null, 9px;
$input_v2-badge__position: 0, 0, 0, null;
$input_v2-field__padding: 0;
$input_v2-field__border: 1px solid $color-16_5;
$input_v2-field__border-color--error: $color-32_5;
$input_v2-field__background: $color-15;
$input_v2-field__background--error: $color-16_7;
$input_v2-field__background--focus: $color-16_5;
$input_v2-field-control__font: font($font--xl, 1, 100);
$input_v2-field-control__font--r10: font($font--md, 1, 100);
$input_v2-field-control__color: $form-control__color;
$input_v2-field-control__padding: 0 indent(1);
$input_v2-field-control__padding--clear: 0 indent(2) 0 indent(3);
$input_v2-field-control__background: transparent;
$input_v2-field-control__transform: scale(0.75);
$input_v2-field-control__transform--r10: none;
$input_v2-field-control__min-height: $form-control__height;
$input_v2-field-clear__size: 16px;
$input_v2-field-clear__padding: indent(1);
$input_v2-field-clear__background: $color-10_2;
$input_v2-field-clear__border-radius: $border-circle;
$input_v2-field-clear-image__size: 10px;

// Base: Layout
$base-layout__z-index: 9999;
$base-layout__margin: indent(2);
$base-layout__margin--r10: indent(2) indent(3);
$base-layout__margin--r20: indent(3);

// Base: Loader
$base-loader-primary__color: $n_color-5;
$base-loader-secondary__color: $n_color-32;
$base-loader-dot__border-radius: 6px;
$base-loader-dot__size: 6px;
$base-loader-dot__margin: 0 2px;

// Base: Logo
$base-logo__size: 40px;
$base-logo__padding: 0 indent(1);

// Base: Scroll
$base-scroll__background: $n_color-0_2;
$base-scroll-toggle__size: 4px;

// Base: Title
$base-title__color: $n_color-0;
$base-title__color--pseudo: $n_color-30;
$base-title__font: font(1.125rem, 1.125rem, 400);
$base-title__font--r10: font(2.25rem, 2.25rem, 400);
$base-title__margin: indent(3) 0 indent(2);
$base-title__margin--r10: indent(5) 0 indent(2);

// Base: Overlay
$base-overlay__position: 0 0 0 0 11002;
$base-overlay__background: $color-11_7;

// Layout
$layout__z-index: 9999;
$layout__margin: $app-header-height auto 0;
$layout__margin--r10: $app-header-height--r10 auto 0;
$layout__padding: indent(2);
$layout__padding--r10: indent(2) indent(3);
$layout__padding--r20: indent(3);

// Layout Bar
$bar__width: 400px;
$bar__padding: 8px indent(3);
$bar-news__margin: indent(3) 0;
$bar-title__margin: 0 0 indent(1.5) 0;
$bar-social-title__color: $n_color-0-8;
$bar-social-title__font: font($font--md, 1.7);
$bar-social-title__color--hover: $n_color-34;

// Layout Default
$default-p-a__color: $n_color-32;
$default-p-a__color--hover: $n_color-34;
$default-p__font: font($font--lg, 1.7);
$default-p__font--r10: font($font--xl, 1.7);
$default-table__padding: indent(2) 0;
$default-table__padding--r10: indent(2) 10%;
$default-table-td__padding: 6px 16px 6px 16px;
$default-table-td__padding--r10: 6px 8px 6px 8px;
$default-table-tr__background: $color-18_5;
$default-table-tr__background--odd: $color-18;

// Layout Header
$header__height: $app-header-height;
$header__height--r10: $app-header-height--r10;
$header__padding: 0 indent(2);
$header__background: $n_color-10;
$header-logo__margin: 0 indent(2) 0 0;
$header-toggle__size: 36px;
$header-toggle__margin: 0 indent(2) 0 0;
$header-toggle__background: url('~@/assets/images/header/burger.svg');
$header-toggle__background--hover: url('~@/assets/images/header/burger--active.svg');
$header-profile__margin: 0 0 0 indent(0.5);
$header-profile__margin--r10: 0 0 0 indent(1);
$header-profile__margin--r20: 0 0 0 indent(2);
$header-auth-wallet__margin: 0 0 0 indent(1);
$header-auth-wallet__margin--r10: 0;
$header-secondary__min-height: 42px;
$header-secondary__background: $n_color-13;

// Layout: Header Language
$header-language-toggle__font: font($font--md, 1rem);
$header-language-toggle__color: $n_color-0;
$header-language-toggle__padding: 0 indent(1);
$header-language-toggle-flag__size: 1.5rem;
$header-language-toggle-arrow__size: 1rem;
$header-language-toggle-arrow__background: url('~@/assets/images/common/arrow-down.svg') no-repeat center;
$header-language-list__margin: indent(1) 0 0 0;
$header-language-list__position: 100%, null, null, -#{indent(1)};
$header-language-list__background: $color-13;
$header-language-list__border-radius: $border-radius-xs;
$header-language-item__width: 90px;
$header-language-item__padding: 0 indent(1);
$header-language-item__background--hover: $color-16_5;

// Layout Header: Shortcut
$header-shortcut-item__font: font($font--md);
$header-shortcut-item__color: $n_color-0;
$header-shortcut-item__margin: 2px 0 0 0;
$header-shortcut-item__padding: 0 indent(1.5);
$header-shortcut-item__padding--r10: 0 indent(1.5);
$header-shortcut-item__padding--r20: 0 indent(1.5);
$header-shortcut-item__border-with: 0 0 2px 0;
$header-shortcut-item__border-color: transparent;
$header-shortcut-item__border-color--hover: $n_color-0;
$header-shortcut-item__border-color--active: $n_color-30;
// prettier-ignore
$header-shortcut-item__background--active: linear-gradient(180deg,
  rgba(255, 206, 68, 0) 40.1%, rgba(255, 206, 68, 0.2) 100%);

// Layout Header: Header Search
$view-header-search__width: 200px;
$view-header-search__width--r10: 200px;
$view-header-search-result__width: 100%;

// Layout Rate
$rates__width: $app__max-width;
$rates__padding: 0;
$rates__margin:  0 0 16px;
$rates__background: $color-15;
$rates-value__font: font($font--md);
$rates-value__margin: 0 4px;
$rates-content__margin: 0 auto;
$rates-content__padding: 16px 0px;

// Layout Sidebar
$sidebar__width: 320px;
$sidebar__shadow: 7px 0px 4px $color-10_5;
$sidebar__background: $color-13;
$sidebar-block__padding: 0 indent(3);
$sidebar-block__border: 1px solid $color-16_7;
$sidebar-header__padding: indent(2) 0;
$sidebar-close__margin: 0 indent(-1) 0 0;
$sidebar-auth__padding: 0 0 indent(3) 0;
$sidebar-wallet__min-width: 100%;
$sidebar-wallet__background: transparent;
$sidebar-catalogue__padding: indent(1) 0;
$sidebar-scroll__offset: 129px;

// Layout Sidebar: Navigation
$sidebar-navigation-item__font: font($font--lg, 55px, 300);
$sidebar-navigation-item__color: $n_color-0;
$sidebar-navigation-item__padding: 0 indent(3);
$sidebar-navigation-item__background--hover: $color-15;
$sidebar-navigation-item__border: 1px solid $color-16_7;
$sidebar-navigation-item__border--active: 2px solid $color-23;
$sidebar-navigation-item-arrow__size: 16px;
$sidebar-navigation-item-arrow__background: no-repeat center url('~@/assets/images/common/arrow-down-large.svg');
$sidebar-navigation-item-badge__margin: 0 0 0 indent(1);
$sidebar-navigation-sub-item__color: $color-0_5;
$sidebar-navigation-sub-item__font: font($font--md, 38px, 300);
$sidebar-navigation-sub-item__padding: 0 indent(3);
$sidebar-navigation-sub-item__background--hover: $color-16_5;
$sidebar-navigation-group-content__padding: 0 0 indent(3) 0;
$sidebar-navigation-lang-toggle__padding: 0 0 0 indent(1);
$sidebar-navigation-lang-content__background: $color-15;

// Layout: Footer
$footer-layout__padding: indent(4) indent(2) 0;
$footer-layout__max-width: $app__max-width;
$footer-layout-partner__margin: indent(3) 0;
$footer-layout-partner__border: 1px solid $color-0_1;
$footer-layout-partner__padding: indent(3) 0;
$footer-layout-disclaimer__max-width: 954px;
$footer-layout-gambling__margin: indent(4) 0;
$footer-layout-gambling__margin--r10: 0 0 0 indent(4);
$footer-layout-copyright__padding: 0 0 indent(3) 0;
$footer-layout-copyright__padding--r10: indent(2) 0 indent(3) 0;

// Layout: Footer Partner
$footer-partner-item-image__width: 50%;
$footer-partner-item-image__width--r10: 145px;
$footer-partner-item-image__height: 40px;
$footer-partner-company-item__margin: 0;
$footer-partner-company-item__margin--r10: indent(2);
$footer-partner-company-item__margin--r20: 0;
$footer-partner-currency__padding: indent(2) 0;
$footer-partner-currency-item__margin: 0;
$footer-partner-currency-item__margin--r10: indent(1);

// Layout: Footer Copyright
$footer-copyright__font: font($font--md, 1rem);
$footer-copyright__color: $n_color-24;

// Layout: Footer Disclaimer
$footer-disclaimer__font: font($font--md, 1.25rem);
$footer-disclaimer__color: $n_color-24;

// Component: Article
$article__padding: indent(2) 0;
$article__margin: indent(1) indent(2) indent(2);
$article__margin--r10: indent(1) indent(2) indent(2);
$article-title__color: $n_color-0;
$article-title__font: font(1.25rem, 1.2, 400);
$article-title__font--r10: font(1.875rem, 1.2, 400);
$article-date__font: font($font--md, 1, 100);
$article-date__font--r10: font($font--md, 1, 100);
$article-date__margin: 2px 0 indent(0.5);
$article-date__margin--r10: 2px 0 indent(0.5);
$article-header__margin: 0 0 indent(3) 0;
$article-author__margin: indent(1) indent(2) indent(1) 0;
$article-author-image__margin: 0 indent(2) 0 0;
$article-author-image__width: 40px;
$article-author-image__border-radius: $border-radius-md;
$article-author-description__color: $n_color-30;
$article-author-description__font: font($font--lg, 1, 100);
$article-image__border-radius: $border-radius-md;
$article-image__margin: indent(2) 0;
$article-a__color: $n_color-32;
$article-a__color--hover: $n_color-34;
$article-img__border-radius: $border-radius-md;
$article-blockquote__padding: indent(1.5) indent(2.5);
$article-blockquote__border-left: 4px solid $n_color-32;
$article-related__border-top: 1px solid $color-0_1;
$article-related__margin: indent(6) 0 0;
$article-related__padding: indent(2.5) 0 0;
$article-categories__font: font($font--md, 1.2);
$article-categories__padding: 2px indent(1);
$article-categories__color: $n_color-0_7;

// Component: Author
$article-sharing-layout-short__width: 152px;
$article-sharing-layout__margin: indent(4) 0 0 0;
$article-sharing-layout-short__margin: 0;
$article-sharing-layout-short-open__box-shadow: 0px 0px 4px #2d2d2d;
$article-sharing__font-size: 14px;
$article-sharing-short__font-size: 16px;
$article-sharing__padding: 0.3em 0.5em;
$article-sharing__background: $n_color-0_7;
$article-sharing__background--hover: $n_color-0_8;
$article-sharing__color: #20252c;
$article-sharing-title__padding: 0 indent(1) 0 indent(0.5);
$article-sharing-short__background: $n_color-11;
$article-sharing-short__background--hover: $n_color-0_8;
$article-sharing-short__color: $n_color-0_7;
$article-sharing__margin: 0.2em 0.2em;
$article-sharing-icon-svg__msrgin-left: .4em;
$article-sharing-more__width: 151px;
$article-sharing-more__box-shadow: 0px 2px 4px #2d2d2d;
$article-sharing-more__background: #181818;

// Component: Author
$author-catalog__margin: indent(1) 0 0 0;
$author-catalog__margin--r10: indent(4) 0 0 0;

// Component: Card
$card__size: 30% 100%;
$card-info__padding: indent(1) 0;
$card-image__border-radius: $border-radius-md;
$card-date__color: $n_color-0_7;
$card-date__font: font($font--md, 1rem, 400);
$card-title__color: $n_color-0-7;
$card-title__color--hover: $n_color-0;
$card-title__font: font($font--lg, 1.2, 800);
$card-title__font--r10: font(1.875rem, 1.875rem, 800);
$card-title__margin: indent(0.5) 0 indent(1) 0;
$card-description__color: $n_color-0_7;
$card-description__font: font($font--md, 1rem, 400);
$card-author__color: $n_color-0_7;
$card-author__font: font($font--md, 1rem, 400);
$card-categories-title__font: font($font--md, 1.2);
$card-categories-title__padding: 2px indent(1);
$card-categories-title__color: $n_color-0_7;
$card-categories-title__background: $n_color-0_4;
$card-categories-title__border-radius: $border-radius-md;
$card-categories-title__margin: 2px 0;

// Component: Card Horizontal
$card-horizontal__size: 74px 54px;
$card-horizontal__size--r10: 74px 54px;
$card-horizontal__width: 100%;
$card-horizontal__padding: indent(1) 12px indent(1);
$card-horizontal__background-color--hover: $color-17_5;
$card-horizontal-info__padding: 0 0 0 indent(1.5);
$card-horizontal-image__border-radius: $border-radius-md;
$card-horizontal-date__color: $n_color-0_7;
$card-horizontal-date__font: font($font--lg, 1.12rem, 400);
$card-horizontal-title__color: $n_color-0;
$card-horizontal-title__font: font($font--sm, 1.2);
$card-horizontal-title__font--r10: font($font--md, 1.2);
$card-horizontal-title__margin: indent(0.5) 0 indent(1) 0;
$card-horizontal-description__color: $n_color-0_7;
$card-horizontal-description__font: font($font--md, 1rem, 400);
$card-horizontal-author__color: $n_color-0_7;
$card-horizontal-author__font: font($font--md, 1rem, 400);

// Component: Catalogue
$catalog-item__padding: 0 indent(1.5) indent(1.5);

// Component: Category
$category-description__padding: 0 indent(1.5);
$category-catalog__margin: indent(5) 0 0 0;

// Component: Crumb
$crumb__color: $n_color-0;
$crumb-ol__margin: 0 indent(2);
$crumb-ol__padding: indent(2) 0;

// Component: Language
$language-item__font: font($font--md, 40px, 100);
$language-item__color: $color-0;
$language-item__color--hover: $color-23;
$language-item__padding: 0 indent(3);
$language-item-flag__size: 24px;
$language-item-text__padding: 0 0 0 indent(1);
$language-item-mark__size: indent(2);
$language-item-mark__margin: 0 0 0 indent(1);
$language-item-mark__background: url('~@/assets/images/common/mark--active.svg');

// Component: Preview
$preview__size: 100% 260px;
$preview__size--r10: 400px 270px;
$preview__padding: indent(1) 12px indent(4);
$preview__padding--r10: indent(3) 12px;
$preview-info__padding: indent(3) 0 0 0;
$preview-info__padding--r10: 0 indent(3);
$preview-image__border-radius: $border-radius-md;
$preview-date__color: $n_color-0_7;
$preview-date__font: font($font--md, 1.4, 400);
$preview-star-rating__margin: indent(1) 0 indent(0.5);
$preview-title__color: $n_color-0;
$preview-title__font: font($font--lg, 1.2, 800);
$preview-title__font--r10: font(1.875rem, 1.2, 800);
$preview-title__margin: indent(0.5) 0 indent(1) 0;
$preview-description__color: $n_color-0_7;
$preview-description__font: font($font--lg, 1.6, 400);
$preview-author__color: $n_color-0_7;
$preview-author__font: font($font--md, 1.4, 400);

// Component: List
$list-grid__padding: indent(2) 0 indent(1) ;
$list-item__padding: indent(1) indent(1.5) indent(1);

// Component: Preview Author
$preview-author__size: 100% 260px;
$preview-author__size--r10: 400px 270px;
$preview-author__padding: indent(3) 12px;
$preview-author-info__padding: indent(3) 0 0 0;
$preview-author-info__padding--r10: 0 indent(3);
$preview-author-image__border-radius: $border-radius-md;
$preview-author-date__color: $n_color-0_7;
$preview-author-date__font: font($font--md, 1.4, 400);
$preview-author-title__color: $n_color-0;
$preview-author-title__font: font($font--lg, 1.4, 500);
$preview-author-title__font--r10: font(1.875rem, 1.4, 800);
$preview-author-title__margin: indent(0.5) 0 indent(1) 0;
$preview-author-description__color: $n_color-0_7;
$preview-author-description__font: font($font--lg, 1.4, 400);
$preview-author-author__color: $n_color-0_7;
$preview-author-author__font: font($font--md, 1.4, 400);

// Component: Search
$search__width: 100%;
$search__width--active: 300px !important;

// Component: Search Field
$search-field-badge__padding: 0 0 0 indent(1);
$search-field-badge__min-width: 24px;
$search-field-close__min-width: 38px;
$search-field-close__margin: 0 0 0 indent(1);
$search-field-close__background: $color-16;
$search-field-close__border-radius: $border-radius-xs;
$search-field-close-image__size: 16px;

// Component: Search Result
$search-result__z-index: 2;
$search-result__width: 100%;
$search-result__margin: indent(0.75) 0 0 0;
$search-result__padding: indent(2) 0;
$search-result__background: $color-16;
$search-result__box-shadow: -1px 2px 6px 1px $color-10_5;
$search-result__border-radius: $border-radius-xs;
$search-result-total__font: font($font--md, 1rem, 100);
$search-result-total__color: $color-0_7;
$search-result-total__padding: 0 indent(2) indent(1);
$search-result-list__max-height: 380px;
$search-result-list__max-height--r10: calc(100vh - 114px);
$search-result-item__padding--recommend: indent(0.5) indent(2);
$search-result-empty__font: font($font--sm, 1rem, 100);
$search-result-empty__color: $color-0_7;
$search-result-empty__padding: indent(1) indent(2);
$search-result-empty-title__font: font($font--lg, 1.4, 800);
$search-result-empty-title__color: $color-0;
$search-result-shadow__position: null, indent(4), 0, 0;
$search-result-shadow__box-shadow: 0 -2px 19px 19px $color-16;
